// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "Open Sans", sans-serif;
  padding-left: 20px;
}

ul {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 32px;
  padding-left: 0;
}

li {
  display: inline;
  background-color: #3498DC;
  color: white;
  padding: 10px 20px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  margin-right: 15px;
}

